/*                                ---------------- */
/* ============================== Navbar Component ================================== */
/*                                ---------------- */

/* #languages {
  border: 0.1px solid black;
  cursor: pointer;
  padding: 0 0.3%;
} */

.btn-primary {
    padding: 0.5%;
    background-color: #fffbed;
    box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.44);
    /* display: inline-block;  */
  }
  
  .little-logo {
    text-align: center;
    align-items: baseline;
    /* border: 15px solid #fffbed; */
    border: 1px solid black;
    background-color: #ffff;
    width: fit-content;
    height: fit-content;
  }
  
  .little-logo-color {
    border: 1% solid #fffbed;
  }
  
  hr {
    color: black;
  }
  
  /* nav {
    position: relative;
  } */
/*                                ---------------- */
/* ============================== Navbar Component ================================== */
/*                                ---------------- */
  
/*                                -------------- */
/* ============================== HERO Component ================================== */
/*                                -------------- */

.hero {
    /* height: 30rem; */
    width: 100%;
    /* background-color: #fffbed; */
    /* =========================================== */
    /* Cant't resolve the overlapping components so i used the relative / absplute positions to display them at the right place */
    /* position: absolute;
    top: 21%; */
    /* =========================================== */
  }
  
  .big-logo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #ffff;
    width: fit-content;
    height: fit-content;
  }
  
  /* .hero-video-transition {
    position: relative;
  } */

  /*                                -------------- */
  /* ============================== HERO Component ================================== */
  /*                                -------------- */


/*                                    --------------- */
/* ============================== Video Component ================================== */
/*                                --------------- */

.video {
    /* position: absolute;
    top: 149%; */
    /* left: 10%;
    height: 15rem;
    width: 80%; */
    /* # TODO -->  https://tailwindcss.com/docs/scroll-snap-type -> use mandatory element to display videos */
  }
  
  /* .video-instagram-transition {
    position: relative;
  } */

/*                                --------------- */
/* ============================== Video Component ================================== */
/* /*                             ---------------*/



/*                                ------------------*/
/* ============================== Instagram Component ================================== */
/* /*                             ------------------*/

/* .instagram {
    position: absolute;
    height: 30rem;
} */

/*                                ------------------*/
/* ============================== Instagram Component ================================== */
                         /*       ------------------  */

