/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.App-link {
  color: #61dafb;
} */


a {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  height: 30rem;
  width: 100%;
  background-color: #fffbed; 
  /* =========================================== */
  /* Cant't resolve the overlapping components so i used the relative / absolute positions to display them at the right place */
  position: absolute;
  top: 21%;
  /* =========================================== */
}

.big-logo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #ffff;
  width: fit-content;
  height: fit-content;
}

.hero-video-transition {
  position: relative;
}

.instagram {
  position: absolute;
  height: 30rem;
}

.btn-primary {
  padding: 1%;
  background-color: #fffbed;
  box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.44);
  /* display: inline-block;  */
}

.little-logo {
  text-align: center;
  align-items: baseline;
  /* border: 15px solid #fffbed; */
  border: 1px solid black;
  background-color: #ffff;
  width: fit-content;
  height: fit-content;
}

.little-logo-color {
  border: 1% solid #fffbed;
}

hr {
  color: black;
}

nav {
  position: relative;
}

.video {
  position: absolute;
  top: 149%;
  left: 10%;
  height: 15rem;
  width: 80%;
  /* # TODO -->  https://tailwindcss.com/docs/scroll-snap-type -> use mandatory element to display videos */
}

.video-instagram-transition {
  position: relative;
}

@tailwind base;
@tailwind components;
@tailwind utilities;